:root {
  --success: #55efc4;
  --danger: #ff7675;
  --warning: #fdcb6e;
  --black: #000;
  --dark: #2d3436;
  --grey: #636e72;
  --light: #dfe6e9;
  --white: #ffffff;
  --primary: #74b9ff;
  --secondary: #a29bfe;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP';
  background-color: var(--dark);
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: var(--white);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--danger);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 3rem;
  left: 0;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 1rem;
}

nav ul li {
  color: var(--light);
  text-transform: uppercase;
  margin: 2rem 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li + li {
  margin-left: 1rem;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 2rem;
  transform: translateX(-200%);
}

nav i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content img {
  max-width: 100%;
}

.content h1,
.content h3 {
  color: var(--primary);
}

.content h1 {
  margin: 0;
}

.content small {
  color: var(--grey);
  font-style: italic;
}

.content p {
  color: var(--dark);
  line-height: 1.6;
}
