* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 5rem;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 0 .75rem;
  position: relative;
  transition: flex .7s ease-in;
}

.panel.active {
  flex: 4;
}

.panel h3 {
  color: #fff;
  font-size: 1.25rem;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  margin: 0;
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .5s;
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}

