:root {
  --success: #55efc4;
  --success-dark: #00b894;
  --danger: #ff7675;
  --danger-dark: #d63031;
  --warning: #ffeaa7;
  --warning-dark: #fdcb6e;
  --dark: #2d3436;
  --light: #dfe6e9;
  --white: #ffffff;
  --primary: #74b9ff;
  --primary-dark: #0984e3;
  --secondary: #a29bfe;
  --secondary-dark: #6c5ce7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  color: var(--dark);
}
